MYSQL_HOST=mysql
MYSQL_PORT=3306
MYSQL_DATABASE=events_db
MYSQL_USER=events_user
MYSQL_PASSWORD=events_pass

KAFKA_BOOTSTRAP_SERVERS=kafka:9092
KAFKA_TOPIC=sensor_readings

REDIS_HOST=redis
REDIS_PORT=6379

EVENTS_CACHE_TTL=600
SUMMARY_CACHE_TTL=120
